* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: beige;
   
}
body{
    margin: 0 auto;
    width: 950px;
    
}
header {
    display: flex;  
}

#header-3div {
    margin: 1rem;
    
}
#header-div {
    border-right: 1px solid silver;
    margin: 1rem;
    padding-right: 1rem;
}
header div h6, h5 {
    text-align: center;
    
}
header div h5{
    padding-bottom: 1rem;
}
header div p {
    text-align: justify;
    font-size: 0.8rem;
}

.main-div{
    display: flex;
    border-top: 1px solid black;
    
    }
   
    
h1 {
    font-size: 6rem;
    width: 550px;
    text-align: center;
    font-family: 'Alfa slab one';
}

.line h4{
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 0.1rem;
}
.line h4 span {
    background: beige;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.main-div1 {
    font-size: 0.8rem;
    padding-top: 1rem;
    width: 200px;
}
#capital-fed {
    padding-top: 1rem;
    border-bottom: 1px solid rgb(94, 94, 160);
padding-bottom: 0.5rem;    
}
#recargo {
    padding-top: 1rem;
}
.main-div3 h4{
    border-bottom: 1px solid rgb(94, 94, 160);
    border-top: 1px solid rgb(94, 94, 160);
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
}
article {
    margin-top: 1rem;
    display: flex;
    width: 100%;
}
article aside{
    width: 20%;
    
}
article div{
    width: 80%;
    margin-right: 1rem;
}
article div main{
    width: 100%;
}
 article div main .main-header{
    background: rgb(221, 218, 169);
     display: flex;
    justify-content: space-between;
    width: 100%;
 }
 article main .main-header h5{
    background: rgb(221, 218, 169);
     
 }
article main h2{
    font-size: 2.5rem;
    text-align: justify;
    margin-top: 1rem;
}
.intro {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}
.below-img-main {
    font-size: 0.8rem;
    border-bottom: 1px solid gray;
}
.main-text {
    column-count: 4;
    text-align: justify;
    margin-top: 1rem;
   
}
footer{
    margin-top: 1rem;
    display: flex;
    width: 100%;
}

.left-footer p{
    font-size: 0.8rem;
    border-bottom: 1px solid gray;
}
.article-footer{
    margin-left: 0.5rem;
}
.article-footer div{
    justify-content: space-between;
    background: rgb(221, 218, 169);
    display: flex;
    width: 100%;
}
.article-footer div h5{
    background: rgb(221, 218, 169);
    
}
.article-footer h2{
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.article-footer p{
    text-align: justify;
}
.footer-text {
    column-count: 2;
    font-size: 0.8rem;
    margin-top: 0.8rem;
    text-align: justify;
}
aside img{
    width: 90%;
    height: 200px;
    padding-left: 1rem;
}
aside #href1{
    display: flex;
    justify-content: space-between;
    width: 100%; 
       
}

#first-h2{
    margin-top: 1.5rem;
    text-align: justify;
}
aside p{
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    text-align: justify;
    font-size: 0.8rem;
    border-bottom: 1px solid gray;
}
aside #href2{
    display: flex;
    justify-content: space-between;
    width: 100%;    
}
#sec-h2{
    margin-top: 1rem;
    text-align: justify;
}
aside #href3{
    display: flex;
    justify-content: space-between;
    width: 100%;    
}
#third-h2{
    margin-top: 1rem;
    text-align: justify;
}
#box-text{
    border: 1px solid gray;
    width: 100%;
    padding: 0.5rem;
}
#box-text p{
    border: none;
    margin-bottom: 0;
}
